<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p><strong>WeatherTop</strong> — © 2025. All rights reserved. Coded by <a href="https://github.com/edabelt">Edabelt</a>.</p>
    </div>
  </div>
</footer>
